ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #eee;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }
  
  .tab-content{
    display: none;  
    padding: 15px 0;
    border-top:3px solid #eee;
  }
  
  .tab-content.current{
    display: inherit;
  }